<a routerLink="create">create task</a>
<div class="container">
  <table [style.width]="'50%'">
    <tr>
      <th>
        Task Description
      </th>
      <th>
        Task Status
      </th>
      <th>
        Delete Task?
      </th>
    </tr>
    <tr *ngFor="let task of current_tasks">
      <td>
        <div class="TaskTile">{{ task.description }} </div>
      </td>
      <td>
        <div class="TaskTile">{{ task.status }} </div>
      </td>
    
     <td>
        <!-- <div class="TaskTile"> -->
          <button  (click)="DelTask(task)">
            <!-- <i class="fa fa-trash" >&#128465;</i> -->
              Delete task
          </button>
        <!-- </div> -->
      </td>
      
    </tr>
  </table>
</div>
